replicaCount: 2

image:
  repository: devops-coffee-shop
  tag: latest
  pullPolicy: IfNotPresent

resources:
  limits:
    cpu: "500m"
    memory: "256Mi"
  requests:
    cpu: "250m"
    memory: "128Mi"

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

ingress:
  enabled: true
  host: coffeeshop.local
  path: /

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    interval: 15s
    path: /metrics