replicaCount: 2

image:
  repository: devops-coffee-shop
  tag: latest
  pullPolicy: IfNotPresent

resources:
  limits:
    cpu: "500m"
    memory: "256Mi"
  requests:
    cpu: "250m"
    memory: "128Mi"

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

# Uncomment for local development with Minikube
# Comment ALB Ingress and ServiceMonitor sections if using Minikube

#ingress:
#  enabled: true
#  className: "nginx"
#  host: "" 
#  path: /
#  annotations:

ingress:
  className: "alb"
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    interval: 15s
    path: /metrics