apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: {{ include "coffee-shop.fullname" . }}
spec:
    rules:
        - host: {{ .Values.ingress.host }}
          http:
            paths:
                - path: {{ .Values.ingress.path }}
                  pathType: Prefix
                  backend:
                    service:
                      name: {{ include "coffee-shop.fullname" . }}
                      port:
                        number: {{ .Values.service.port }}